* {
    margin: 0;
    padding: 0;

}

a {
    color: white;
    text-decoration: none;
    padding: 10px  15px;
    border-radius: 10px;
    font-size: 20px;
}

a:hover {
    background-color: white;
    color: brown;
    transition: all .3s ease;
}

h1 {
    display: flex;
    justify-content: center;
    color: brown;
}

h2 {
    color: brown;
}

body {
    background-color: #f1f1f1;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: brown;
    color: white;
    height: 80px;

    & .nav {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
}

main {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    background-color: #fff;
    width: 300px;
    height: 400px;
    padding: 10px;

    & img {
        height: 60%;
        object-fit: cover;
    }
}

